requests==2.23.0
nltk==3.4
numpy==1.19.2
beautifulsoup4==4.6.0
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-2.3.1/es_core_news_sm-2.3.1.tar.gz#egg=es_core_news_sm
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
lxml==4.6.2
